name: periobolos-check

on:
  pull_request:

permissions: read-all

jobs:
  check-config:
    name: check-config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v2.4.0
      - name: set token
        run: echo ${{ secrets.PAT_TOKEN }} > token
      - name: Peribolos
        uses: docker://docker.io/ctadeu/peribolos:latest
        with:
          config-path: ./config.yaml
          github-token-path: ./token
          fix-org: true
          fix-org-members: true
          fix-repos: true
          fix-team-repos: true
          fix-teams: true
          fix-teams-members: true
          min-admins: 2
