name: Create an issue

on:
  workflow_dispatch:

jobs:
  create_issue:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write
    
    steps:
      - name: Get today's date
        id: date
        run: |
          echo "today=$(date "+%Y/%m/%d")" >> $GITHUB_OUTPUT

      - name: Create an issue
        uses: actions-ecosystem/action-create-issue@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ steps.date.outputs.today }}
          body: |
            ## This today's TODO

            - [ ] testing
            - [ ] Check the dashboard

          labels: |
            meeting
            weekly
