name: Review

on:
  # schedule:
  #   - cron: '30 */2 * * *' # every 2 hours
  workflow_dispatch:

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: 'write'
      contents: 'write'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - run: |
          set -euo pipefail
          ./.github/scripts/review-pull-request.sh ${{ github.repository }}
        shell: bash
